@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700;800&family=Inter:wght@400;500&display=swap');

/* Define root variables */
:root {
  --font-heading: 'Exo 2', sans-serif;
  --font-body: 'Inter', sans-serif;

  --color-primary: #00aaff;
  --color-background: #0a0a10; /* A very dark, deep blue */
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #a0a0a0;
  --color-glass-bg: rgba(20, 25, 40, 0.4); /* Translucent background for glass effect */
  --color-glass-border: rgba(100, 100, 120, 0.3);
}


body {
  margin: 0;
  font-family: var(--font-body); /* Use the body font variable */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background); /* Set the base background color */
  color: var(--color-text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
